/*=============== Global CSS ===========*/
body{
	min-height: 100vh;
}
.jumbotron{
	margin: 0;
}
/* ---- basic parallax rule for CSS ---- */
.parallax{
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 200px;
}

.pic1{
	background-image: url(http://cdn-image.myrecipes.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/easy-skillet-tacos-mr.jpg?itok=v5nK2yKJ);
}

.pic2{
	background-image: url(https://images7.alphacoders.com/330/330222.jpg);
}

/*=============== NAVBAR CSS ===========*/
.navbar-custom{
	margin: 0;
	border-radius: 0;
}

/*=============== HERO CSS ===========*/

.jumbotron.hero{
	height: 100vh;
	background-image: url("../img/tacoHero.jpg");
	background-size: cover;
	background-position: center;
}

.hero .heroText{
	background-color: rgba(0,0,0,0.6);
	color: white;
	padding: 30px;
}

/* haircuts section*/
.tacos{
	background-color: cyan;
	color: white; 
}
.tacoPic{
	height: 400px;
	background-size: cover;
	background-position: center;
}
.beef{
	background-image: url(http://az616578.vo.msecnd.net/files/2016/07/18/636044104859117199985990752_tacos.jpg);
}




